<meta charset="UTF-8">
<title><%= pageTitle %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Carl Schriever">
<meta name="description" content="<%= pageDescription %>">
<meta name="robots" content="index, follow">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<% if (locals.pageCss) for (var i = 0; i < pageCss.length; i++) { %>
    <link rel="stylesheet" type="text/css" href="/dist/<%= pageCss[i] %>.css">
<% } %>
<!--<link rel="shortcut icon" href="/favicon.ico"/>-->
