<%
let title = 'Camp Laney';
let sideBarItems = ['Overview', 'My Camp Experience', 'Giving Back', 'Professional Development'];
let content = `
<div id="Overview">
    <p>I went to <a href="https://camplaney.com/" target="_blank" class="underline-link">Camp Laney</a> for four years as a camper, volunteered two years as a W-CIT, and worked two summers on the Ropes Course.</p>
</div>
<div id="MyCampExperience">
    <h2>My Camp Experience</h2>
    <img class="img-thumbnail img-inline lazy-load" data-src="/res/laney-amazing-grace.jpg" alt="Carl Schriever playing amazing grace at chapel">    
    <p>Going to Laney made me fall in love with the outdoors and introduced to me bouldering, now one of my favorite hobbies. I was inspired to pursue learning the guitar, mandolin, and banjo after listening to my counsellors play together. During my summers working on the mountain, I was able to play for the campers and hopefully lead them to pick up and learn a musical instrument like I did.</p>
</div>
<div id="GivingBack">
    <h2>Giving Back</h2>
    <p>I volunteered for two summers as a W-CIT. These summers I worked in the kitchen, serving food and cleaning up after meals; I worked in the store, handing out snacks to the campers; and I followed the youngest group of campers around from activity to activity to ensure that they didn't get lost.</p>
    <p>I worked for two summers as a member of the ropes course staff. During this time I ensured the safety of participants and helped the campers break through their comfort zone while learning the value of teamwork.</p>
</div>
<div id="ProfessionalDevelopment">
    <h2>Professional Development</h2>
    <p>The camp counselor is often considered to be a low-skilled job but I would argue differently. Trying to control thirty middle school aged children from the moment you wake up until you go to sleep and sometimes in the middle of the night can be quite challenging.</p>
    <p>Convincing a cabin of eight year olds that they should spend the next thirty minutes cleaning during cabin cleanup rather than going outside and running around helped me to learn how to lead both by example and by delegating tasks.</p>
    <p>Taking an hour and a half to coax a kid who is deathly scared of heights to go off a ropes course element taught me patience and dedication to my job.</p>
    <p>Trying to convince a homesick kid who woke me up several nights in a row that he should stay at camp caused me to become more compassionate and empathetic for the needs and wants of others.</p>
    <p>Safely running thirty campers through a high element of the ropes course in forty five minutes or less teaches efficient collaboration, verbal and non-verbal communication, and trust that your teammates will perform their job.</p>
</div>
`;

let readMore = [
    {text: "Teacher's Assistant at Georgia Tech", href: "/info/1331-ta"}
];
%>

    <%- include('../../partials/info.ejs', {title, sideBarItems, content, readMore}); %>