<%
let title = 'Google Home Visual Response';
let sideBarItems = ['Overview'];
let content = `
<div id="Overview">
    <p>
        I wanted to create a way to get visual responses from Google Home Queries. I desired the ease of access to information that a google home provides but the detail that visual data has. I also wanted to teach myself how to make a Node server, how to use MongoDB, and about Web Sockets. 
    </p>
</div>
`;

let readMore = [
    {text: "Teacher's Assistant at Georgia Tech", href: "/info/1331-ta"},
];
%>

<%- include('../../partials/info.ejs', {title, sideBarItems, content, readMore}); %>