$light-gray: #f6f6f6;
$border-gray: #eeeeee;
$dark-gray: #252525;
$mid-gray: #555555;
$header-red: #720027;
$header-blue: #2c6aa0;
$light-blue: #91ccff;
$text-orange: #ff9800;
$salmon-header: #f45e53;
$off-white: #fbfbfb;
$text-gray: #424242;