@import "~normalize-scss/sass/_normalize.scss";
@import "./_variables.scss";
@import "./_defaults.scss";

body {
    background-color: white;
}

.side-bar-container {
    position: fixed;
    width: 20vw;
    padding: 25px;
    background-color: $light-gray;
    color: $mid-gray;
    height: 100vh;
    overflow: auto;
    display: none;

    h3 {
        font-weight: 900;
        color: $salmon-header;
    }

    .suggested-reading-head {
        padding-top: 10px;
    }

    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.info-link {
    padding: 5px;
    font-size: 1.25em;

    &:hover {
        text-decoration: underline;
    }

    h1 {
        font-weight: 800;
        color: $mid-gray;
        font-size: 5.3em;
    }

    a {
        text-decoration: none;
        color: $mid-gray;

        &:hover {
            background: 0;
        }
        &:focus {
            background: 0;
        }
    }
}

.home-link {
    color: $header-blue;
}

.main-content {
    position: relative;
    width: 96vw;
    left: 2vw;
    background: white;

    h1 {
        font-weight: 800;
        color: $mid-gray;
        font-size: 3.5em;
    }

    h2 {
        font-size: 2em;
        font-weight: 800;
    }

    h3 {
        font-weight: 800;
    }

    p,
    ol {
        font-size: 1.5em;
    }

    .content-wrapper {
        padding: 10px;
        padding-bottom: 0px;
    }

    .wizard-img {
        height: 250px;
        width: auto;
        z-index: 1;
    }

    .slider-img {
        max-width: 80%;
        height: auto;
    }

    .filter-img {
        max-width: 80%;
        max-height: 400px;
        width: auto;
        height: auto;
    }

    .nova-img {
        max-width: 80%;
        height: auto;

        @media screen and (max-width: 767px) {
            max-width: 96%;
            width: 96%;
            margin: 2%;
        }
    }

    .spacing {
        height: 175px;
    }

    @media screen and (min-width: 1024px) {
        left: 20vw;
        width: 79vw;
        .content-wrapper {
            padding: 50px;
        }

        h1 {
            font-size: 5.3em;
        }

        h2 {
            font-size: 3em;
        }
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
    .img-inline {
        width: 100%;
        max-width: 100%;
    }

    .wizard-img {
        height: 30%;
        min-height: 100px;
    }
}

@media screen and (max-width: 424px) {
}
