@import '~normalize-scss/sass/_normalize.scss';
@import './_variables.scss';
@import './_defaults.scss';

.side-bar-container {
    position: fixed;
    width: 20vw;
    padding: 25px;
    background: $dark-gray;
    color: $light-gray;
    height: 100vh;
    overflow: auto;
    display: none;

    h1 {
        font-weight: 800;
        color:$mid-gray;
        font-size: 4em;
    }
    
    li {
        padding: 5px;
        font-size: 1.25em;

        &:hover {
            text-decoration: underline;
        }

        a {
            text-decoration: none;
            color:$light-gray;
            
            &:hover {
                background: 0;
            }
            &:focus {
                background: 0;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        display:block;
    }
}

.main-content {
    position: relative;
    padding: 10px;
    width:96vw;
    left:2vw;

    h2 {
        font-size: 3em;
        font-weight:800;
    }

    p {
        font-size: 1.5em;
    }

    .wizard-img {
        height: 250px;
        position: absolute;
        width: auto;
        z-index: 1;
    }

    .spacing {
        height:175px;
    }

    @media screen and (min-width: 1024px) {
        left: 20vw;
        width: 79vw;
        padding: 50px;
    }

}

@media screen and (max-width: 1199px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width:767px) {
    .img-inline {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 424px) {

}