// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// $fa-font-path: '~font-awesome/fonts/';
// @import '~font-awesome/scss/font-awesome.scss';

// @import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

@import "~normalize-scss/sass/_normalize.scss";
@import "./_variables.scss";
@import "./_defaults.scss";

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 1000;
}

.img-center {
    margin: 0 auto;
    display: block;
}

.center {
    display: inline;
    margin: 0 auto;
}

.btn-youtube {
    background-color: #ed302f;
    color: white;
}

.nav-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    margin-left: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    display: none;
}

.nav-container > .nav {
    float: right;
    margin-right: 90px;
}

.nav-container > .nav > li > a,
.nav-container > .nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.nav-container > .nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.95);
}

.mobile-nav {
    font-size: 2em;
}

.header-clear {
    display: block;
}

.top-container,
.about-container,
.project-section-container,
.top-panel {
    padding: 50px 0;
}

.top-container {
    overflow: hidden;
    padding-top: 60px;
    background-color: white;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

.top-sub-cont {
    width: 80%;
    margin: 0 auto;
}

.top-image {
    margin: 15px 0;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.top-text-cont {
    height: 100%;
    color: $light-gray;
    padding: 15px;
}

.top-name {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: 1000;
}

.top-quote {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.about-outside {
    background-color: $light-gray;
}

.about-container {
    border-bottom: 1px solid $border-gray;
    margin: 0 auto;
    padding: 50px 15%;
    background-color: white;
}

.about-header {
    color: $header-blue;
}

.about-body {
    font-size: 1.5em;
}

.about-body > strong {
    color: $text-orange;
}

.about-sub-section {
    margin-bottom: 20px;
}

.about-sub-cont {
    background-color: $off-white;
    padding: 15px 0 30px 0;
    margin: 0 auto;
    text-align: left;
}

.about-sub {
    padding: 15px 20px;
    border-bottom: 1px solid $border-gray;
}

.about-sub:last-child {
    border: 0;
}

.about-sub-header {
    color: $header-red;
    font-size: 2.5em;
}

.about-sub-body {
    font-size: 1.3em;
}

.about-sub > ul {
    padding: 0 0 0 30px;
}

.about-end {
    border-top: 1px solid $border-gray;
    background-color: white;
}

.about-bottom {
    margin-top: 50px;
    margin-bottom: -10px;
}

.resume-cont {
    padding: 50px;
}

.resume-button {
    font-size: 1.4em;
}

.img-container {
    width: 100%;
    background-color: $dark-gray;
    padding: 10px 0;
    margin: 0px;
    border-bottom: 20px solid $light-gray;
}

.img-row-img {
    height: 40px;
    width: 40px;
}

.project-head-container:before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 40vh;
    content: "";
    z-index: 0;
}

.project-head-container {
    background: no-repeat center center;
    background-position: 50%;
    background-size: 150%;
    width: 100%;
    height: 40vh;
}

.project-background {
    background-color: $off-white;
}

.project-section-container {
    width: 100%;
    margin: 0 auto;
}

.project-head-text {
    color: $light-gray;
    z-index: 5;
    position: relative;
    margin: 0 auto;
    font-size: 6.2em;
}

.project-cont {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.project {
    padding: 20px 10px;
    transition: width 200ms;
}

.project > a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.project > h3 {
    font-size: 1.6em;
    font-weight: 700;
}

.project > h4 {
    font-size: 1.4em;
}

.project-desc {
    height: 100%;
    padding: 20px;
    position: absolute;
    z-index: 10;
    vertical-align: middle;
    font-size: 1.1em;
}

.project-desc > p {
    display: block;
    font-weight: 700;
    text-align: center;
    display: none;
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.project-img-cont {
    position: relative;
    cursor: pointer;
}

.project-img-cont:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    transition: background-color 200ms;
}

.project:hover > .project-img-cont:before {
    background-color: rgba(255, 255, 255, 0.9);
    content: "";
}

.project:hover > .project-img-cont > .project-desc > p {
    display: block;
}

.content-container {
    padding-right: 30px;
}

.title-h {
    text-align: right;
}

.project-desc-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.contact-container {
    width: 100%;
    background-color: $dark-gray;
    padding: 50px 0;
}

.contact-head {
    color: $light-gray;
}

.contact-button-cont {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

.contact-button-cont {
    text-align: center;
}

.contact-button {
    position: relative;
}

.contact-a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bold {
    font-weight: 700;
}

.lazy-load {
    background-color: gray;
}

.lazy-load[data-src] {
    background-color: rgba(0, 0, 0, 0);
}

.top-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 100%;
    filter: blur(6px) brightness(0.7);
    margin: -6px -12px;
}

@media screen and (max-width: 1199px) {
    .top-name {
        font-size: 2.6em;
    }

    .top-quote {
        font-size: 1em;
    }

    .nav-container > .nav {
        font-size: 0.9em;
        margin-right: 45px;
    }

    .featured {
        font-size: 0.9em;
    }

    .project > h3 {
        position: relative;
        font-size: 1.1em;
    }

    .project > h4 {
        position: relative;
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    .project > h3 {
        position: relative;
        font-size: 0.9em;
    }

    .project > h4 {
        position: relative;
        font-size: 0.8em;
    }

    .nav-container {
        display: block;
    }

    .top-image {
        margin: 30px 0;
    }

    .top-container {
        padding: 20px 0;
    }

    .header-clear {
        display: none;
    }

    .top-name {
        font-size: 3.125em;
        margin-right: 20px;
        width: default;
        text-align: left;
        margin: 0.67em 0;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0;
    }

    .top-quote {
        padding-bottom: 14px;
        margin-right: 20px;
        width: default;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
    }

    .top-text-cont {
        padding: 0;
        padding: 0px 15px;
    }

    .top-container {
        background-position: 0px -220px;
    }

    .about-sub-cont {
        padding: 15px 15% 30px 15%;
    }

    .about-sub > ul {
        padding: 0 0 0 40px;
    }

    .featured {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }

    h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.8em;
    }

    h4 {
        font-size: 2.6em;
    }

    .top-container {
        background-position: 0px 0px;
    }

    .top-image {
        margin: 15px 0;
    }

    .top-text-cont {
        padding: 15px;
    }

    .top-name {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
    }

    .top-quote {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .about-container {
        padding: 50px 7%;
    }

    .nav-container {
        display: none !important;
    }

    .header-clear {
        display: block;
    }

    .top-container {
        padding: 20px 0;
    }

    .project-head-container {
        height: 30vh;
        background-size: 200%;
    }

    .project-head-container:before {
        height: 30vh;
    }

    .project > h3 {
        position: relative;
        font-size: 1.7em;
    }

    .project > h4 {
        position: relative;
        font-size: 1.5em;
    }

    .about-sub-cont {
        padding: 15px 0;
    }
}

@media screen and (max-width: 424px) {
    .top-container {
        padding: 10px 0;
    }

    .nav-container {
        display: none;
    }

    .project-head-container {
        height: 25vh;
    }

    .project-head-container:before {
        height: 25vh;
    }
}

@media screen and (min-width: 1199px) {
    .top-name {
        font-size: 2.6em;
    }

    .top-quote {
        font-size: 1em;
    }

    .nav-container > .nav {
        font-size: 0.9em;
        margin-right: 45px;
    }

    .featured {
        font-size: 0.9em;
    }

    .project > h3 {
        position: relative;
        font-size: 1.1em;
    }

    .project > h4 {
        position: relative;
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1440px) {
    .top-name {
        font-size: 3.7em;
    }

    .top-quote {
        font-size: 1.2em;
    }

    .featured {
        font-size: 1.3em;
    }

    .project > h3 {
        position: relative;
        font-size: 1.4em;
    }

    .project > h4 {
        font-size: 1.2em;
        position: relative;
    }
}
