<%
let title = 'CS 1331 TA';
let sideBarItems = ['Inspiration', 'Student Interaction', 'Projects', 'Outcome'];
let content = `
<img class="wizard-img" src="/res/lambda-java-wizard-logo.png" alt="Java lambda wizard">
<div class="spacing" style="z-index: 2;"></div>
<div id="Inspiration">
    <h2>Inspiration</h2>
    <p>I have always loved teaching and think that it is the best way to truly ensure that you have mastered a topic. Throughout secondary school I would help my peers learn any topic that they were struggling with because the satisfaction of seeing someone finally understand something is amazing.</p>
    <p>Java was the first language I taught myself and I am incredibly proud to get to share my love for the language with the students of Georgia Tech.</p>
</div>
<div id="StudentInteraction">
    <h2>Student Interaction</h2>
    <p>I teach recitation once a week for an hour and a half. During recitation we quickly review the previous week's topics answering any question that students might have. I get the opportunity to share my passion for CS with the class and the chance to see my students' passion grow as they master the course material.</p>
    <p>I hold office hours 3 times a week during which students can come for help with their assignments. Its entertaining to see some of the more round about solutions that students come up with and to see my personal coding style incorporated into theirs.</p>
</div>
<div id="Projects">
    <h2>Projects</h2>
    <p>Part of my job is making and grading homework/tests. This keeps Java syntax fresh in my mind and forces me to remember libraries like javaFX. It also makes me much better at debugging as I make corrections on students' papers.</p>
</div>
<div id="Outcome">
    <h2>Outcome</h2>
    <p>Being a TA is an enriching experience that also forces me to master new skills and to retain old ones. I have learned leadership and communication through experience in the classroom. I get to meet people with different outlooks on and styles of programming. Most importantly I influence my peers and assist them in there academic journey through Georgia Tech.</p>
</div>
`
%>

<%- include('../../partials/demo.ejs', {title, sideBarItems, content}); %>