<div id="<%= id %>" class="project col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-3">
    <div class="project-img-cont">
        <img class="lazy-load img-center project-img" data-src="<%= imgSrc %>" alt="">
    </div>
    <h4 class="text-center"><%= title %></h4>
</div>